@import 'tailwindcss';

@theme {
  /* main color for apps */
  --color-purplemain: #5b59a0;
  --font-sans: 'Inter', sans-serif;
}

* {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  min-height: 100%;
}
